<!-- Jumbotron Header -->
<header class="jumbotron hero-spacer">
    <h1>A Warm Welcome!</h1>
    <p>Welcome to health dashboard. It will help you to view and analyze the health related data of all 52 states of United States using Chart.js.</p>
    </p>
</header>
<hr>
<!-- Title -->
<div class="row">
    <div class="col-lg-12">
        <h3>Health Section</h3>
    </div>
</div>
<!-- /.row -->
<!-- Page Features -->
<div class="row text-center">

    <div class="col-md-3 col-sm-6 hero-feature">
        <div class="thumbnail">
            <img src="http://placehold.it/800x500" alt="">
            <div class="caption">
                <h3>Mortality</h3>
                <p>Visualize mortality rate in United States.</p>
                <p>
                    <a onclick="getMortalityData()" class="btn btn-default">More Info</a>
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-6 hero-feature">
        <div class="thumbnail">
            <img src="http://placehold.it/800x500" alt="">
            <div class="caption">
                <h3>Birth Rate</h3>
                <p>Visualize Birth rate in United States.</p>
                <p>
                    <a href="#" class="btn btn-default">More Info</a>
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-6 hero-feature">
        <div class="thumbnail">
            <img src="http://placehold.it/800x500" alt="">
            <div class="caption">
                <h3>Deaths by Accident</h3>
                <p>Visualize death rate in United States by accidents.</p>
                <p>
                    <a href="#" class="btn btn-default">More Info</a>
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-6 hero-feature">
        <div class="thumbnail">
            <img src="http://placehold.it/800x500" alt="">
            <div class="caption">
                <h3>Deaths by Cancer</h3>
                <p>Visualize death rate in United States by Cancer.</p>
                <p>
                    <a href="#" class="btn btn-default">More Info</a>
                </p>
            </div>
        </div>
    </div>
</div>
<div id="content"></div>