<!-- Jumbotron Header -->
<header class="jumbotron hero-spacer">
    <h1>A Warm Welcome!</h1>
    <p>Welcome to health dashboard. It will help you to view and analyze the health related data of all 52 states of United States using Chart.js.</p>
    </p>
</header>
<hr>
<!-- Title -->
<div class="row">
    <div class="col-lg-12">
        <h3>Health Section</h3>
    </div>
</div>
<!-- /.row -->
<!-- Page Features -->
<div class="row text-center">

    <div class="col-md-6 col-sm-6 hero-feature" style="width:232px; height:300px;">
        <div class="thumbnail">
            <img src="./img/mortality.jpg" alt="">
            <div class="caption">
                <h3>Mortality</h3>
                <p>Visualize mortality rate in United States.</p>
                <p>
                    <a onclick="getMortalityData()" class="btn btn-default">More Info</a>
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-sm-6 hero-feature" style="width:232px; height:300px;">
        <div class="thumbnail">
            <img src="./img/birthRate.jpg" alt="" >
            <div class="caption">
                <h3>Birth Rate</h3>
                <p>Visualize Birth rate in United States.</p>
                <p>
                    <a href="#" class="btn btn-default">More Info</a>
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-sm-6 hero-feature" style="width:232px; height:300px;">
        <div class="thumbnail">
            <img src="./img/accident.jpg" alt="" >
            <div class="caption">
                <h3>Accident Death</h3>
                <p>Visualize death rate in United States by accidents.</p>
                <p>
                    <a href="#" class="btn btn-default">More Info</a>
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-sm-6 hero-feature" style="width:232px; height:300px;">
        <div class="thumbnail">
            <img src="./img/cancer.jpg" alt="">
            <div class="caption">
                <h3>Cancer Death</h3>
                <p>Visualize death rate in United States by Cancer.</p>
                <p>
                    <a onclick="getCancerData()" class="btn btn-default">More Info</a>
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-sm-6 hero-feature" style="width:232px; height:300px;">
        <div class="thumbnail">
            <img src="./img/healthInsurance.jpg" alt="">
            <div class="caption">
                <h3>Medical Insurance</h3>
                <p>Visualize insured people.</p>
                <p>
                    <a href="#" class="btn btn-default">More Info</a>
                </p>
            </div>
        </div>
    </div>
</div>

<!--Chart Section-->
<div id="checkboxes" onclick="selectChart()">
    <label>Select Charts:</label>
    <input type="checkbox" id="lineChkBox"> Line Chart </input>
    <input type="checkbox" id="barChkBox"> Bar Chart </input>
    <input type="checkbox" id="pieChkBox"> Pie Chart </input>
    <input type="checkbox" id="doughnutChkBox"> Doughnut Chart </input>
    <input type="checkbox" id="stackedChkBox"> Stacked Chart </input>
</div>
<div class="row text-center">
    <div class="col-md-6 col-sm-6 hero-feature" id="lineChartDiv">
        <canvas id="lineChart"></canvas>
    </div>
    <div class="col-md-6 col-sm-6 hero-feature" id="barChartDiv">
        <canvas id="barChart" class="canvas-holder half"></canvas>
    </div>
</div>
<div class="row text-center">
    <div class="col-md-4 col-sm-4 hero-feature" id="pieChartDiv">
        <canvas id="pieChart" class="canvas-holder half"></canvas>
    </div>
    <div class="col-md-4 col-sm-4 hero-feature" id="doughnutChartDiv">
        <canvas id="doughnutChart" class="canvas-holder half"></canvas>
    </div>
    <div class="col-md-4 col-sm-4 hero-feature" id="stackedChartDiv">
        <canvas id="stackedChart" class="canvas-holder half"></canvas>
    </div>
</div>
